fieldset {
  width: 15rem;
  height: 30rem;
  display: inline-block;
  margin: 15px;
}

img {
  size: inherit;
  max-height: 30rem;
  max-width: 20rem;
  margin: auto;
  margin-top: 1rem;
}

.card > img {
  cursor: pointer;
}

.logo {
  height: 4rem;
  margin: auto;
}

.card {
  box-sizing: border-box;
  width: 30%;
  justify-content: center;
  margin: auto;
  margin-bottom: 3rem;
  border-radius: 5px;
  background-image: linear-gradient(to bottom right,#414141, #707070);
  box-shadow: 10px 10px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
}

.searchbar {
  width: 22rem !important;
  margin-right: 2rem;
}

.poster {
  border-radius: 4px;
  box-shadow: 10px 10px;
}

.list {
  opacity: 0.5;
}